html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 75vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.img {
    background-image: url('image.avif');
    width: 25vw;
    height: 100vh;
    margin-right: auto;
}

.sign-up {
    width: 50vw;
    height: 100vh;
    margin-left: auto;
    background-color: rgb(231, 241, 245);
}

h4 {
    font-size: 150%;
    margin-left: 5%;
    margin-right: 20%;
    font-weight: 600;
}

h4.text {
    margin-top: 15%;
}

h4.line {
    margin-bottom: 7%;
}

form {
    width: 50vw;
    height: 30vh;
    background-color: white;
    margin-bottom: 4%;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
 .groups {
    display: flex;
    margin-bottom: 5%;
 }

 .elements {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    gap: 7%;
 }

 label {
    font-size: 75%;
 }

 input {
    border-radius: 3px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
 }

 input:focus {
    outline: none;
    border-color: rgb(150, 150, 231);
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
 }

button {
    margin-left: 5%;
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    font-size: 100%;
    font-weight: bold;
    padding: 15px 50px 15px 50px;
}

p {
    margin-left: 5%;
    font-size: 125%;
}
