html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 75vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.img {
    background-image: url('image.avif');
    width: 25vw;
    height: 100vh;
    margin-right: auto;
}

@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

.logo {
    width: 25vw;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 225px;
    color: white;
    display: flex;
    font-size: 120px;
    align-items: center;
    justify-content: center;
    font-family: Norse-Bold, sans-serif;
}

.odin-logo {
    height: 140px;
    width: 115px;
}

.credits {
    font-size: 12px;
    text-align: center;
    color: white;
    margin-top: 575px;
}

.link {
    color: white;
}

.sign-up {
    width: 50vw;
    height: 100vh;
    margin-left: auto;
    background-color: rgb(231, 241, 245);
}

h4 {
    font-size: 150%;
    margin-left: 5%;
    margin-right: 20%;
    font-weight: 600;
}

h4.text {
    margin-top: 15%;
}

h4.line {
    margin-bottom: 7%;
}

form {
    width: 50vw;
    height: 30vh;
    background-color: white;
    margin-bottom: 4%;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
 .groups {
    display: flex;
    margin-bottom: 0;
 }

 .elements {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 2%;
 }

 label {
    font-size: 75%;
 }

 input {
    border-radius: 3px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 25px;
 }

 input:focus {
    outline: none;
    border-color: rgb(150, 150, 231);
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
 }

button {
    margin-left: 5%;
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    font-size: 100%;
    font-weight: bold;
    padding: 15px 50px 15px 50px;
}

p {
    margin-left: 5%;
    font-size: 125%;
}
